{% extends 'baidu/base.html' %}

	{% block content %}
	<p hidden="true">{{ classfy }}</p>
	<div  class="container-fluid">
		<ul class="list-group">
			<li class="list-group-item"><a href="/{{ classfy }}/{{ classfy }}1">{{ classfy }}1</a></li>
			<li class="list-group-item"><a href="/{{ classfy }}/{{ classfy }}2">{{ classfy }}2</a></li>
			<p>{{ classfy }}</p>
		</ul>
	</div>
	{% endblock %}	

	{% block js %}
	<script src="{{ url_for('static',filename='js/nav-act.js') }}"></script>
	{% endblock %}	

